/*  ***Styling untuk modals***  */

/* Start dari sini untuk modal */
/* .modal-body {
	width: 90%;
} */

.modal-content {
	width: 90%;
}
.modal-dialog-scrollable .modal-body {
	overflow-x: hidden;
}
.modal-content {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #ffebeb;
}

.modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Untuk semua h4 pada thead dalam table */
.modal-header h4 {
	font-weight: 700;
}

/* Untuk semua label yang ada dpe input ato label yang jadi acuan */
.label-bold {
	font-weight: 700;
	width: 170px;
}

/* --Styling modal Detail */
.row-custom {
	width: 88%;
	margin: 27px 62px;
	display: flex;
}

/* Col left -> Daftar Isi yang ada di modal Detail */
.col-left {
	width: 60%;
}

.col-left .item {
	border-radius: 8px;
	width: 550px;
	height: 40px;
	display: flex;
	align-items: center;
	/* gap: 3rem; */
	margin-bottom: 12px;
	background: linear-gradient(
		224.57deg,
		#eabdbd 0.52%,
		rgba(217, 217, 217, 0) 90.19%
	);
}

.col-left .item p {
	color: black;
	margin-bottom: 0px;
}

/* Col right-> Kotak Dokumen + button Download */
.col-right {
	width: 40%;
}

.col-right label {
	font-size: 16px;
	font-weight: 700;
}

.col-right .lampiran-kotak-wrapper {
	/* width: 160px; */
	display: flex;
	align-items: center;
	flex-direction: column; /* align-items: center; */
}

.col-right .lampiran-surat-kotak {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	background-color: #f4f4f4;
	border: 1px solid #000;
}

.col-right .lampiran-surat-kotak h3 {
	font-weight: 700;
}

.btn.btn-download {
	background: rgba(63, 163, 255, 1);
	width: 51%;
	color: white;
}
